<html>
  <head>
  	<meta charset="utf-8">
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>What</title>
    {% endif %}
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div>Some Words</div>
    <hr>
    {% with messages = get_flashed_messages() %}
    	{% if messages %}
   			<ul>
    		{% for message in messages %}
        		<li>{{ message }} </li>
    		{% endfor %}
    		</ul>
    		{% endif %}
    {% endwith %}
	<p>
	{{ user.get_id() }}
    {{ user.fullname }}
    {{ user.givenname }}
    {{ user.sn }}
    {{ user.mail }}
    {{ user.samaccountname }}
	</p>
    {% block content %}{% endblock %}
  </body>
</html>